<footer class="bg-primary px-20 py-10">
  <div class=" grid grid-cols-4">
    <div class="logo align-self-center">
      <img src="../../assets/images/footer-logo.svg" alt="">
    </div>
    <div class="space-y-3">
      <h4 class="font-bold">Information</h4>
      <ul class="space-y-2">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Hot Meals</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h4 class="font-bold">Useful Links</h4>
      <ul class="space-y-2">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="space-y-3">
      <h4 class="font-bold">Contact Us</h4>
      <div class="space-y-2">
        <p>Tel: 234 8056410027</p>
        <p>Mail: support@email.com</p>
        <div class="flex items-center space-x-3 text-primary">
          <div class="h-10 w-10 bg-black flex items-center rounded-full justify-center">
            <i class="fab fa-linkedin-in"></i>
          </div>
          <div class="h-10 w-10 bg-black flex items-center rounded-full justify-center">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="h-10 w-10 bg-black flex items-center rounded-full justify-center">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="h-10 w-10 bg-black flex items-center rounded-full justify-center">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="h-10 w-10 bg-black flex items-center rounded-full justify-center">
            <i class="fab fa-pinterest"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-10 space-y-3">
    <hr>
    <p> 2023 (c) Company Ltd | all right reserved</p>
  </div>
</footer>