.call-notice {
    background-color: #5C7E64;
    color: #FFF;
    text-align: center;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    padding: 10px;
}