
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;700&family=Nunito:wght@200;300;400;500;600;700&family=Outfit&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

.call-notice {
    background-color: #5C7E64;
    color: #FFF;
    text-align: center;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    padding: 10px;
}