<div class="contact-container">
    <div class="contact-header">
        <p>Contact Us</p>
        <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
    </div>
</div>
        

        <div class="contactus-hold">
            <div class="help-section">
                <p>Need help?<br> We're available<br> 24/7</p>
                <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
            </div>
            <div class="contact-form">
                <div class="p-bg">
                    <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elitl, sed eiusmod tempor<br> incididunt ut lore.</p>
                </div>
                <form>
                    <div class="form-row">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                    </div>
                    <input type="text" placeholder="Subject" class="subject-input">
                    <div class="form-row">
                        <h4>Describe Issue</h4>
                        <textarea rows="4" cols="50" placeholder="Enter your issue here"></textarea>
                    </div>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>

    


