<nav class="side-nav" [ngClass]="{'show': showSideNav}">

    <div class="p-2 text-center">
      <img src="assets/images/landscape-logo.svg" alt="logo">
    </div>
    <ul class="nav-links list-none p-0 m-0">
      <li><a routerLink=""><img src="assets/images/user.svg" alt=""> <div class="links">Profile</div></a></li>
      <li><a routerLink="/cart">
        <img src="assets/images/cart-2.svg" alt=""> <div class="links">My Cart</div>
      </a></li>
      <li><a routerLink="/order"><img src="assets/images/order.svg" alt=""> <div class="links">Order</div></a></li>
      <li><a routerLink=""><img src="assets/images/notification.svg" alt=""> <div class="links">Notifications</div></a></li>
      <li><a routerLink=""><img src="assets/images/saved.svg" alt=""> <div class="links">Saved Items</div></a></li>
      <li>
        <a routerLink=""><img src="assets/images/logout.svg" alt=""> <div class="links pink">Log Out</div></a></li>
    </ul>
  </nav>
<!-- Cart component -->
