<div class="breadcrumb">
    <button class="back-button"><i class="fas fa-arrow-left"></i></button>
    <span id="home"><a routerLink="/">Home</a></span>
    <i class="fas fa-chevron-right"></i>
    <span>Profile</span>
    <i class="fas fa-chevron-right"></i>
    <span>Order Tracking</span>
  </div> 

  <div class="order-container">
    <div class="order no-line">
      <h4>ORDER PLACED</h4>
      <span>23 Feb. 2021 - 05:35 PM</span>
    </div>
    <div class="order">
        <h4>TOTAL</h4>
        <span>₦20,000.00</span>
    </div>
    <div class="order">
        <h4>ORDER ID</h4>
        <span>LT-RTYUID</span>
  </div>
  </div>
  
    <div class="status">
        <h4>ORDER STATUS: <span class="order-status">SHIPPED</span></h4>
        <p>ESTIMATED DELIVERY TIME & DATE:<br> <span>23 Feb. 2021 - 05:35 PM</span></p>
      </div>
      
  <div class="container">
    <div class="steps">
        <div class="circle">
            <span class="circle-text">Order Placed</span>
            <span class="order-date">23 Feb. 2021</span>
        </div>
        <div class="circle">
            <span class="circle-text">Packing</span>
            <span class="order-date">23 Feb. 2021</span>
        </div>
        <div class="circle">
            <span class="circle-text">READY FOR PICKUP</span>
            <span class="order-date">23 Feb. 2021</span>
        </div>
        <div class="progress-bar1">
            <span class="indicator"></span>
        </div>
    </div>
  </div>

  <div class="customer-info">
    <h4 class="center-text">Customer Information</h4>
    <div class="info-hold">
        <div class="left-info">
            <p><strong>Customer:</strong> Mubarak Sharafadeen</p>
            <p><strong>Phone:</strong> 091 2345 6789</p>
          </div>
          <div class="right-info">
            <p><strong>Email:</strong> user@gmail.com</p>
            <p><strong>Address:</strong> Random address line goes here Abuja</p>
          </div>
    </div>
  </div>
  
  
  
  
  
