<div class="breadcrumb">
    <button class="back-button"><i class="fas fa-arrow-left"></i></button>
    <span id="home"><a routerLink="/">Home</a></span>
    <i class="fas fa-chevron-right"></i>
    <span>Profile</span>
    <i class="fas fa-chevron-right"></i>
    <span>Order Tracking</span>
  </div> 

  <div class="order-container">
    <div class="order no-line">
      <h4>ORDER PLACED</h4>
      <span class="whitespace-nowrap text-base mt-1">23 Feb. 2021 - 05:35 PM</span>
    </div>
    <div class="order">
        <h4>TOTAL</h4>
        <span class="whitespace-nowrap text-base">₦20,000.00</span>
    </div>
    <div class="order">
        <h4>ORDER ID</h4>
        <span class="whitespace-nowrap text-base">LT-RTYUID</span>
  </div>
  </div>
  
    <div class="status">
        <h4 class="font-bold">ORDER STATUS: <span class="order-status font-bold">SHIPPED</span></h4>
        <p>ESTIMATED DELIVERY TIME & DATE:<br> <span>23 Feb. 2021 - 05:35 PM</span></p>
      </div>
      
  <div class="container">
    <div class="steps">
        <div class="circle">
            <span class="circle-text">Order Placed</span>
            <span class="order-date">23 Feb. 2021</span>
        </div>
        <div class="circle">
            <span class="circle-text">Packing</span>
            <span class="order-date">23 Feb. 2021</span>
        </div>
        <div class="circle">
            <span class="circle-text">READY FOR PICKUP</span>
            <span class="order-date">23 Feb. 2021</span>
        </div>
        <div class="progress-bar1">
            <span class="indicator"></span>
        </div>
    </div>
  </div>

  <div class="customer-info flex flex-col items-center mx-auto m-0 p-2.5">
    <h4 class="text-center text-lg">Customer Information</h4>
    <div class="info-hold">
        <div class="left-info">
            <p class="flex justify-between"><span class="text-base font-bold">Customer:</span> <span class="text-sm text-right ml-2">Mubarak Sharafadeen</span></p>
            <p class="flex justify-between"><span class="text-base font-bold">Phone:</span> <span class="text-sm">091 2345 6789</span></p>
          </div>
          <div class="right-info">
            <p class="flex justify-between"><span class="text-base font-bold">Email:</span> <span class="text-sm">user@gmail.com</span></p>
            <p class="flex justify-between"><span class="text-base font-bold">Address:</span> <span class="text-sm text-right w-30">Random address line goes here Abuja</span></p>
          </div>
    </div>
  </div>
  
  
  
  
  
