<div class="breadcrumb flex items-center text-base mb-2.5 whitespace-nowrap pt-1.5 pl-7" style="color: #2D2D2D;">
  <button class="back-button"><i class="fas fa-arrow-left"></i></button>
  <span id="home"><a routerLink="/">Home</a></span>
  <i class="fas fa-chevron-right"></i>
  <span>Profile</span>
  <i class="fas fa-chevron-right"></i>
  <span>Order</span>
</div>

<div class="order-page">
  <div class="order-container">
    <div class="order no-line">
      <div class="icon">
        <img src="assets/images/briefcase-01.svg" alt="">
        </div>
      <div class="flex justify-between items-center mx-0 m-2.5 uppercase">
        <span class="text-lg font-bold">Total Order</span>
      </div>
      <div class="order-count">
        <span id="total-order" class="text-lg font-bold mx-0 m-2.5">700</span>
        <p>Total items: <span class="item-count">700</span></p>
      </div>
    </div>
    <div class="order">
      <div class="icon">
        <img src="assets/images/earnings.svg" alt="">
        </div>
      <div class="flex justify-between items-center mx-0 m-2.5 uppercase">
        <span class="text-lg font-bold">Pending Order</span>      
      </div>
      <div class="order-count">
        <span id="pending-order" class="text-lg font-bold mx-0 m-2.5"> 807</span>
        <p>Total items: <span><span class="item-count"> 1235</span></span></p>
      </div>
    </div>
    <div class="order">
      <div class="icon">
        <img src="assets/images/caution.svg" alt="">
        </div>
      <div class="flex justify-between items-center mx-0 m-2.5 uppercase">
        <span class="text-lg font-bold">FAILED ORDERS</span>
      </div>
      <div class="order-count">
        <span id="failed-order" class="text-lg font-bold mx-0 m-2.5">500</span>
        <p>Total items: <span><span class="item-count">500</span></span></p>
      </div>
    </div>
    <div class="order">
      <div class="icon">
        <img src="assets/images/briefcase-02.svg" alt="">
          </div>
      <div class="flex justify-between items-center mx-0 m-2.5 uppercase">
        <span class="text-lg font-bold">Completed Order</span>
      </div>
      <div class="order-count">
        <span id="completed-order" class="text-lg font-bold mx-0 m-2.5">700</span>
        <p>Total items: <span><span class="item-count">700</span></span></p>
      </div>
    </div>
    <div class="horizontal-line"></div>
  </div>
  
  <div class="search-container">
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <div class="icon-s">
        <i class="fa-solid fa-magnifying-glass" style="color: #2976fa;"></i>
      </div>
    </div>
    <div class="buttons" >
      <select class="filter-button outline-none">
        <option value="custom-range text-sm">Filter: Custom Range</option>
        <option>3 days</option>
        <option>7 days</option>
      </select>
      <button class="export-button text-sm">Export CSV</button>
    </div>
  </div>

  <div style="overflow-x: auto;">
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Amount</th>
          <th>Location</th>
          <th>Order Date</th>
          <th>Status</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="text-xs">LT-RTYUID</td>
            <td class="text-xs">₦20,000.00</td>
            <td class="text-xs">GWARIMPA</td>
            <td class="text-xs">23 Feb. 2021 - 05:35 PM</td>
            <td class="text-xs">completed</td>
            <td class="text-xs">23 Feb. 2021 - 05:35 PM</td>
          </tr>
          <tr>
            <td class="text-xs">LT-RTYUID</td>
            <td class="text-xs">₦20,000.00</td>
            <td class="text-xs">GWARIMPA</td>
            <td class="text-xs">23 Feb. 2021 - 05:35 PM</td>
            <td class="text-xs">completed</td>
            <td class="text-xs">23 Feb. 2021 - 05:35 PM</td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <span class="text-sm">Showing 1-10 of 57 entries</span>
    <div class="pagination-left">
      <span class="text-sm">Previous</span>
      <button class="page-button text-xs">1</button>
      <button class="page-button text-xs">2</button>
      <button class="page-button text-xs">3</button>
      <span  class="text-sm">Next</span>
    </div>
  </div>
  
</div>

