<section style="margin-bottom: 5rem; ">

    <div class="container">

        <div class="d-flex flex-column">

            <div class="d-flex mt-3">
                <i class="fa-solid fa-arrow-left fa-sm mt-3"></i>

                
                <p class="mx-2 fs-6 mt-1">Home</p>
                <p class="me-2 fs-6 mt-1">></p>
                <P class="fs-6 me-2 mt-1">Profile</P>
                <p class="me-2 fs-6 mt-1">></p>
                <P class="fs-6 mt-1">Saved Items</P>
              </div>


              <div class="text-center">
                <p class="f22 fw-medium">See <span style="color: rgb(92, 126, 100,1);">Food items</span> you love, <br>from vendors</p>
              </div>


              <div class="row mt-3">
                <div class="col-12 col-md-6 col-lg-4 mx-auto">
                    <div class="card rounded-3">
                      <img
                        src="/assets/images/saveditem1.svg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <div class="d-flex">
                            <div
                            class="d-flex border rounded-5 padding6"
                            style="
                              background: black !important; color: white;"
                          >
                          <div class="d-flex mt-2">

                              <i class="fa-solid fa-star mt-2" style="color: #ffffff;"></i>
                                <p class="fw-bold ms-2 mt-1 f10">4.5(253)</p>
                          </div>
                          </div>
                          
                            <div
                            class="d-flex border rounded-5 padding6 ms-auto"
                            style="
                              background: linear-gradient(
                                  0deg,
                                  rgba(85, 86, 90, 0.12),
                                  rgba(85, 86, 90, 0.12)
                                ),
                                linear-gradient(0deg, #f8f9f9, #f8f9f9) !important;
                            "
                          >
                            <img
                              src="../../../assets/images/location.svg"
                              alt=""
                              class="img-fluid mt-2"

                              style="height: 1.5rem !important;"
                            />
                            <p class="fw-bold ms-2 mt-2 f10">Gwarimpa</p>
                          </div>
                        </div>

                        <h5 class="card-title fw-bold text-start mt-3">
                          Hot Big Plantain
                        </h5>
                        <h5 class="card-title fw-bold text-start mt-3">
                            ₦3,400
                        </h5>
        
                        <div
                          class="mt-4 border-bottom border-3"
                          style="border: 1.14px solid rgba(85, 86, 90, 0.12) !important"
                        ></div>
        
                        <div class="d-flex justify-content-between mt-4">
                          <p class="text-muted f10">Delivery fee:₦760</p>

                          <i class="fa-regular fa-heart"></i>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-12 col-md-6 col-lg-4 mx-auto">
                    <div class="card rounded-3">
                      <img
                        src="/assets/images/saveditem 2.svg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <div class="d-flex">
                            <div
                            class="d-flex border rounded-5 padding6"
                            style="
                              background: black !important; color: white;"
                          >
                          <div class="d-flex mt-2">

                              <i class="fa-solid fa-star mt-2" style="color: #ffffff;"></i>
                                <p class="fw-bold ms-2 mt-1 f10">4.5(253)</p>
                          </div>
                          </div>
                          
                            <div
                            class="d-flex border rounded-5 padding6 ms-auto"
                            style="
                              background: linear-gradient(
                                  0deg,
                                  rgba(85, 86, 90, 0.12),
                                  rgba(85, 86, 90, 0.12)
                                ),
                                linear-gradient(0deg, #f8f9f9, #f8f9f9) !important;
                            "
                          >
                            <img
                              src="../../../assets/images/location.svg"
                              alt=""
                              class="img-fluid mt-2"

                              style="height: 1.5rem !important;"
                            />
                            <p class="fw-bold ms-2 mt-2 f10">Gwarimpa</p>
                          </div>
                        </div>

                        <h5 class="card-title fw-bold text-start mt-3">
                          Hot Big Plantain
                        </h5>
                        <h5 class="card-title fw-bold text-start mt-3">
                            ₦3,400
                        </h5>
        
                        <div
                          class="mt-4 border-bottom border-3"
                          style="border: 1.14px solid rgba(85, 86, 90, 0.12) !important"
                        ></div>
        
                        <div class="d-flex justify-content-between mt-4">
                          <p class="text-muted f10">Delivery fee:₦760</p>

                          <i class="fa-regular fa-heart"></i>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-12 col-md-6 col-lg-4 mx-auto">
                    <div class="card rounded-3">
                      <img
                        src="/assets/images/saveditem3.svg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <div class="d-flex">
                            <div
                            class="d-flex border rounded-5 padding6"
                            style="
                              background: black !important; color: white;"
                          >
                          <div class="d-flex mt-2">

                              <i class="fa-solid fa-star mt-2" style="color: #ffffff;"></i>
                                <p class="fw-bold ms-2 mt-1 f10">4.5(253)</p>
                          </div>
                          </div>
                          
                            <div
                            class="d-flex border rounded-5 padding6 ms-auto"
                            style="
                              background: linear-gradient(
                                  0deg,
                                  rgba(85, 86, 90, 0.12),
                                  rgba(85, 86, 90, 0.12)
                                ),
                                linear-gradient(0deg, #f8f9f9, #f8f9f9) !important;
                            "
                          >
                            <img
                              src="../../../assets/images/location.svg"
                              alt=""
                              class="img-fluid mt-2"

                              style="height: 1.5rem !important;"
                            />
                            <p class="fw-bold ms-2 mt-2 f10">Gwarimpa</p>
                          </div>
                        </div>

                        <h5 class="card-title fw-bold text-start mt-3">
                          Hot Big Plantain
                        </h5>
                        <h5 class="card-title fw-bold text-start mt-3">
                            ₦3,400
                        </h5>
        
                        <div
                          class="mt-4 border-bottom border-3"
                          style="border: 1.14px solid rgba(85, 86, 90, 0.12) !important"
                        ></div>
        
                        <div class="d-flex justify-content-between mt-4">
                          <p class="text-muted f10">Delivery fee:₦760</p>

                          <i class="fa-regular fa-heart"></i>
                         
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
        </div>
    </div>

</section>