section {
  padding: 0px 10% 0px;
}
  
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .breadcrumb span {
    margin: 0 5px;
  }
  
  .breadcrumb span a {
    text-decoration: none;
    cursor: pointer;
    color: #2D2D2D;
  }
  
  .breadcrumb i {
    color: #777;
  }
  /* Nav Indicator Style ends */

  .order-details {
    background-color: #f7f7f7;
  }

.status-monitor {
    font-size: 20px;
    text-transform: capitalize;
    margin: 15px auto;
    padding-left: 55px;
}

.progress-line {
    position: absolute;
    margin-top: 50px;
    width: 7px;
    height: 75%;
    background-color: #c1cf65;
    left: 23px;
    top: 0;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 7px solid #c1cf65;
}

.circle:nth-child(3) {
    top: 10%;
}

.circle:nth-child(4) {
    top: 30%;
}

.circle:nth-child(5) {
    top: 50%;
}

.circle:nth-child(6) {
  top: 70%;
}

.circle span {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.circle p {
    position: absolute;
    font-size: 12px;
    text-align: center;
    left: 40px;
    top: 100%;
    transform: translateY(5px);
    width: 140px;
}

@media screen and (max-width: 768px) {
  .hold{
      flex-direction: column; /* Change to column layout */
      align-items: center; /* Center items horizontally */
  }
  .order-details {
    width: 100%; /* Make the order details section take full width */
    margin-bottom: 20px; /* Add some spacing between sections */
  }

  .order-details .text-base {
    font-size: 0.875rem; /* Change to text-sm size */
  }

  .progress-bar1 {
    width: 100%; /* Make the progress bar section take full width */
    min-height: 500px;
  }
}
