<div class="breadcrumb">
    <button class="back-button"><i class="fas fa-arrow-left"></i></button>
    <span id="home"><a routerLink="/">Home</a></span>
    <i class="fas fa-chevron-right"></i>
    <span>Profile</span>
    <i class="fas fa-chevron-right"></i>
    <span>Order Tracking</span>
  </div> 


    <div class="hold">
        <div class="order-details">
            <h2>Order Details</h2>
            <div class="order-details-content">
              <div class="detail">
                <span>Order Placed</span>
                <span class="detail-value">23-Feb 2021-05:33PM</span>
              </div>
              <div class="detail">
                <span>Total Paid</span>
                <span class="detail-value">₦20,000.00</span>
              </div>
              <div class="detail">
                <span>Order Id</span>
                <span class="detail-value">W34567D5-CL</span>
              </div>
              <div class="detail">
                <span>Payment Type</span>
                <span class="detail-value">Card</span>
              </div>
              <div class="detail">
                <span>Order Status</span>
                <span class="detail-value">Ready for Pickup</span>
              </div>
              <div class="detail">
                <span>Estimated Time</span>
                <span class="detail-value">23-Feb 2021-05:33PM</span>
              </div>
              <div class="detail">
                <span>Last Update</span>
                <span class="detail-value">6 min ago</span>
              </div>
                  <h2>Customer Information</h2>
                    <div class="detail">
                      <span>Customer</span>
                      <span class="detail-value">Mubarak Sharafadeen</span>
                    </div>
                    <div class="detail">
                      <span>Phone</span>
                      <span class="detail-value">234 8056410027</span>
                    </div>
                    <div class="detail">
                      <span>Email</span>
                      <span class="detail-value">user@gmail.com</span>
                    </div>
                    <div class="detail">
                      <span>Pick up Address</span>
                      <span class="detail-value address">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    </div>
          </div>
    </div>

    <div class="progress-bar1">
      <h2 class="status-monitor">Order Status Monitor</h2>
      <div class="progress-line"></div>
      <div class="circle">
        <span>Pending</span>
        <p>23Feb 23-05:53PM</p>
      </div>
      <div class="circle">
        <span>in progress</span>
        <p>23Feb 23-05:53PM</p>
      </div>
      <div class="circle">
        <span>Ready</span>
        <p>23Feb 23-05:53PM</p>
      </div>
      <div class="circle">
        <span>Delivered</span>
        <p>23Feb 23-05:53PM</p>
      </div>
      </div>
    </div>

        
  
