

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="login"
  aria-labelledby="loginLabel"
>

<div class="container">
    <div class="offcanvas-header mt-1">
      <h4 class="offcanvas-title fw-semibold" id="loginLabel ">
        Log in to ChopLife
      </h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>

    <div class="offcanvas-body">
        <div class="mt-1">
            <p class="sizefont">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor.
            </p>
        </div>

        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-12">
            <label
              for="validationCustom03"
              class="form-label"
              style="color: #2d2d2d66"
              >Email</label
            >
            <input
              type="email"
              class="form-control bg-body-tertiary"
              id="validationCustom03"
              value="user@email.com"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid email.
            </div>
          </div>
          <div class="col-md-12">
            <label
              for="validationCustom03"
              class="form-label"
              style="color: #2d2d2d66"
              >Password</label
            >
            <input
              type="password"
              class="form-control bg-body-tertiary"
              id="validationCustom03"
              value="*****"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid password.
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="form-check-label" for="invalidCheck">
                <a
                  href=""
                  class="text-decoration-none aggrementfont"
                  style="color: #589466 !important"
                >
                  <span style="color: #2d2d2d">
                    Remember me
                  </span>
                </a>
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
        </div>
        <div class="container mt-2">
              <div class="row">
                <div
                  class="col-4 border-top mt-3"
                  style="color: #f2ffcd !important"
                ></div>
                <p
                  class="col-4 text-center justify-content-center align-items-center bottomfont mt-2"
                >
                  Use email
                </p>
                <div
                  class="col-4 border-top mt-3"
                  style="color: #f2ffcd !important"
                ></div>
              </div>

              <div
                class="col-12 d-flex justify-content-center align-items-center"
              >
                <span class="bg-body-tertiary rounded-3 border-dark p-1">
                  <img
                    src="../../../../assets/images/search.svg"
                    class="p-1"
                    alt=""
                  />
                </span>
                <span class="bg-body-tertiary rounded-3 border-dark p-1 ms-5">
                  <img
                    src="../../../../assets/images/apple-logo.png"
                    class="p-1"
                    alt=""
                  />
                </span>
                <span class="bg-body-tertiary rounded-3 border-dark p-1 ms-5">
                  <img
                    src="../../../../assets/images/facebook.svg"
                    class="p-1"
                    alt=""
                  />
                </span>
              </div>
      
      
            </div>
          <div class="col-12 rounded-3 d-flex justify-content-center">
            <button
              class="mt-4 btn btn-success padding6 py-3"
              type="submit"
              style="background-color: #589466 !important;"
              [routerLink]="['/dashboardpage']"              
            >
              Log in
            </button>
          </div>

          <a
            href=""
            class="text-decoration-none text-center"
            style="color: #589466"
            ><span class="" style="color: #2d2d2d">
              I am new here,
            </span>
            Register</a
          >
        </form>
      </div>
</div>
  
   
  </div>



<app-signup></app-signup>
