<section style="overflow-x: hidden;">
    <div class="col-12 home_bg">

        <div class="container text-center">
            

            <div class="bottom"></div>

            <h1 class="text-white">We pride ourselves with the Best <br> rated hot meals</h1>

            <button class="mt-4 btn btn-success px-5 py-2" type="submit">Contact Us</button>
        </div>
    </div>



    <div class="col-12 mb-5">
        <div class="row mt-5">

            <div class="col-6">
                <div class="container">

                    <img src="../../../../assets/images/CHOPLIFE's gustavo copy 1.svg" alt="">
                </div>
            </div>

                <div class="col-6 shadow-none p-3 mb-5 bg-body-tertiary rounded">
                    <div class="container margin6">


                        <h2 class="padding6">
                            We pride ourselves with the Best rated hot meals.
                        </h2>
    
                        <p class="padding6">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                        </p>
                        <div class="padding6">

                            <button class="mt-4 btn btn-success px-5 py-2" type="submit">Learn More</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>



    <div class="col-12 mb-5" style="background: #F2FFCD; height: 30rem;">
        <div class="container">

            <div class="row">
              <div class="mt-5">
                <h1 class="fw-bold">Our Core Values</h1>

              </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                  <div class="card border-light" style="width: fit-content; background: #F2FFCD;">
                    <div class="card-body">
                      <h3 class="card-title  fw-bold">Title Here</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                      <!-- <a href="#" class="nav-link text-danger">supportafriprize@gmail.com</a>? -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                    <div class="card border-light" style="width: fit-content; background: #F2FFCD;">
                        <div class="card-body">
                          <h3 class="card-title  fw-bold">Title Here</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                          <!-- <a href="#" class="nav-link text-danger">supportafriprize@gmail.com</a>? -->
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                    <div class="card border-light" style="width: fit-content; background: #F2FFCD;">
                        <div class="card-body">
                          <h3 class="card-title  fw-bold">Title Here</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                          <!-- <a href="#" class="nav-link text-danger">supportafriprize@gmail.com</a>? -->
                        </div>
                      </div>
                </div>

              </div> 
        </div>
    </div>


    <div class="col-12 mt-5 mb-5">

        <div class="container">

            <div class="row margin6">
                <div class="col-6 margin6">
                    <h2 class="px-5">
                        We pride ourselves with the Best rated hot meals.
                    </h2>

                    <p class="px-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                    <div class="px-5">

                        <button class="mt-4 btn btn-success px-5 py-2" type="submit">Learn More</button>
                    </div>
                </div>

                <div class="col-6">
                    <img src="../../../../assets/images/Photo.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="col-12" style="background: whitesmoke;">
        <div class="container mt-5">
            <div class="d-flex align-item-center mx-2 justify-content-between mb-5">
              <div class="mt-5">
                <h1 class="fw-bold">
                    The people & minds behind the ChopLife brand
                </h1>
              </div>

              <div class="mt-5">

                <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud e Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud e</p>
              </div>

            </div>


            <div class="row mt-5">
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                  <div class="card border-light" style="width: fit-content; background: whitesmoke;">
                    <div class="card-body">
                        <img src="../../../../assets/images/Photo.svg" alt="" class="img-fluid">
                      <h3 class="card-title  fw-bold">Name Here</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                          <div class="col-12 mb-3">
                <span class="whitesmoke rounded-circle border border-primary border-dark p-1">
                  <i class="fa-brands fa-instagram p-1"></i>
                </span>
                <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                  <i class="fa-brands fa-dribbble p-1"></i>
                </span>
                <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                  <i class="fa-brands fa-twitter p-1"></i>
                </span>
                <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3 ">
                  <i class="fa-brands fa-youtube p-1"></i>
                </span>
              </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                    <div class="card border-light" style="width: fit-content; background: whitesmoke;">
                        <div class="card-body">
                            <img src="../../../../assets/images/Photo.svg" alt="" class="img-fluid">
                          <h3 class="card-title  fw-bold">Name Here</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                          
                          <div class="col-12 mb-3">
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1">
                              <i class="fa-brands fa-instagram p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-dribbble p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-twitter p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3 ">
                              <i class="fa-brands fa-youtube p-1"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                    <div class="card border-light" style="width: fit-content; background: whitesmoke;">
                        <div class="card-body">
                            <img src="../../../../assets/images/Photo.svg" alt="" class="img-fluid">
                          <h3 class="card-title  fw-bold">Name Here</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                          
                          <div class="col-12 mb-3">
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1">
                              <i class="fa-brands fa-instagram p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-dribbble p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-twitter p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3 ">
                              <i class="fa-brands fa-youtube p-1"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                    <div class="card border-light" style="width: fit-content; background: whitesmoke;">
                        <div class="card-body">
                            <img src="../../../../assets/images/Photo.svg" alt="" class="img-fluid">
                          <h3 class="card-title  fw-bold">Name Here</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                          
                          <div class="col-12 mb-3">
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1">
                              <i class="fa-brands fa-instagram p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-dribbble p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-twitter p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3 ">
                              <i class="fa-brands fa-youtube p-1"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
                    <div class="card border-light" style="width: fit-content; background: whitesmoke;">
                        <div class="card-body">
                            <img src="../../../../assets/images/Photo.svg" alt="" class="img-fluid">
                          <h3 class="card-title  fw-bold">Name Here</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum.</p>
                          
                          <div class="col-12 mb-3">
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1">
                              <i class="fa-brands fa-instagram p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-dribbble p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3">
                              <i class="fa-brands fa-twitter p-1"></i>
                            </span>
                            <span class="whitesmoke rounded-circle border border-primary border-dark p-1 ms-3 ">
                              <i class="fa-brands fa-youtube p-1"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                </div>

              </div> 

        </div>
    </div>
</section>