/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 20px 4px 10px #f3eee7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #C1CF65;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C1CF65;
}

.bg-primary {
    background: #5c7e64 !important;
}

.text-primary {
    color: #5c7e64 !important;
}