.card-section {
    padding: 5px 5% 70px;
}
.hotmeal-container {
    background-color: #5C7E64;
    width: 100%;
    height: 230px;
    position: relative;
    border-radius: 10px;
    z-index: -1;
}

.pagination {
    margin: 20px 0;
}
.pagination p{
    font-size: 18px;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the cards horizontally */
}


/* Cards Design */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
  }

  /* Remove the margin-right for the last card in a row */
.card:nth-child(4n) {
    margin-right: 0;
}

  /* On mouse-hover, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

    .discount-box,
    .delivery-box {
    background-color: #F2FFCD;
    color: #2d2d2d;
    padding: 5px 10px;
    max-height: 25px;
    max-width: 110px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 12px; /* Smaller font size */
    white-space: nowrap;
}

.discount-box {
    background-color: #256FEF;
    color: #fff;
}

.discount-info i, .delivery-info i{
    margin-right: 7px;
  }

  .discount-info p, .delivery-info p {
    padding-top: 17px;
    font-size: 12px;
  }

.top-left {
    position: absolute;
    top: 20px; /* Adjust the top position */
    left: 20px; /* Adjust the left position */
}

.bottom-right {
    position: absolute;
    bottom: 220px; /* Adjust the bottom position */
    right: 20px; /* Adjust the right position */
}
  
  .rate-location {
    display: flex;
    justify-content: space-between;
    padding: 3px 7% 3px;
    margin: 5px 0;
  }

  .rate i, .location i{
    margin-right: 7px;
  }

  .rate p, .location p {
    padding-top: 17px;
    font-size: 12px;
  }

    .rate-box,
    .location-box {
    background-color: #F8F9F9;
    color: #2d2d2d;
    padding: 5px 20px;
    border-radius: 12px;
    max-height: 25px;
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; /* Smaller font size */
    white-space: nowrap;
    }

    .rate-box {
        background-color: #2d2d2d;
        color: #fff;
    }


  .container {
    padding: 2px 16px;
  }

  .container .food-name, .container p {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
  }

  hr{
    border: 1px solid #55565A;
  }

  .fee {
    display: flex;
    justify-content: space-between;
    padding: 0px 7% 0px;
  }

  .delivery-fee {
    font-size: 15px; /* Smaller font size */
    font-weight: 500;
    margin-top: 10px;
}

.favorite-button {
    border: none;
    background-color: transparent;
    font-size: 18px; /* Smaller font size */
    cursor: pointer;
    color: #FF5733;
    margin-bottom: 15px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background-color: #F2FFCD;
    padding: 80px 8% 70px;
    color: #333;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    max-width: 100%;
    flex-grow: 1;
}

.left h1 {
    font-size: 44px;
    max-width: 50%;
}

.left p {
    margin: 10px 0;
    max-width: 50%;
    font-size: 20px;
}

.order-button {
    background-color: #5C7E64;
    color: #fff;
    padding: 7px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.order-button:hover{
    background-color: #C1CF65;
}

.top .green{
    align-self: flex-end;
    margin-left: auto;
    margin-right: 15px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fish-image, .kebab-image {
    display: flex;
    margin-top: 15px;
}

.kebab-image {
    margin-bottom: 15px;
}

.fish-image img, .kebab-image img {
    margin-right: 15px;
}

.fish-image img:nth-child(1){
    height: 150px;
    margin-top: 0;
}

.top-images {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the right */
}


.square-image {
    width: 63px;
    height: 63px;
    border-radius: 9px;
}

.green {
    background-color: #5C7E64;
    margin-bottom: 10px;
}

.yellow{
    background-color: #C1CF65;
    margin-top: 10px;
}


@media (max-width: 1068px) {
    .grid-section {
        padding: 40px 8% 30px; /* Adjust padding for smaller screens */
    }

    .content {
    flex-direction: column-reverse;
    align-items: center;
    }

    .left {
        max-width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        flex-grow: 0;
    }

    .left h1 {
        font-size: 32px; /* Further reduce font size for very small screens */
        max-width: 100%;
    }

    .left p {
        font-size: 14px; /* Further reduce font size for very small screens */
        max-width: 100%;
    }

    .order-button {
        font-size: 16px; /* Further reduce font size for very small screens */
    }

    img {
        max-width: 100%;
    }
}










/* Newsletter section */

.newsletter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background-color: #2d2d2d;
    padding: 80px 13% 70px;
    color: #fff;
}

.newsletter-section p{
    font-size: 45px;
    font-weight: bold;
    font-family: Commissioner;
}

.subscribe-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type="email"] {
    width: 50%;
    max-width: 500px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
}

button[type="submit"] {
    max-width: 350px;
    width: 30%; /* Adjust the width as needed */
    padding: 11px 10px; /* Add padding */
    background-color: #5C7E64; /* Green background color */
    color: #fff;
    border: none;
    border-radius: 4px;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #4B6B53; /* Darker green on hover */
}

.follow-us p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icon {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon a {
    text-decoration: none;
}

.social-icons a:hover {
    background-color: #c1cf65;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon svg {
    width: 30px;
    height: 30px;
} 